@font-face {
    font-family: "Liberty";
    src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/907368/liberty.otf");
}

body {
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container-fluid{
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    background: #FFF;
}

/* Animated fireworks  */
.pyro > .before, .pyro > .after {
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
    -moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    -o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    -ms-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  }
  
  .pyro > .after {
    -moz-animation-delay: 1.25s, 1.25s, 1.25s;
    -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
    -o-animation-delay: 1.25s, 1.25s, 1.25s;
    -ms-animation-delay: 1.25s, 1.25s, 1.25s;
    animation-delay: 1.25s, 1.25s, 1.25s;
    -moz-animation-duration: 1.25s, 1.25s, 6.25s;
    -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
    -o-animation-duration: 1.25s, 1.25s, 6.25s;
    -ms-animation-duration: 1.25s, 1.25s, 6.25s;
    animation-duration: 1.25s, 1.25s, 6.25s;
  }
  
  @-webkit-keyframes bang {
    to {
      box-shadow: 98px -25.6666666667px #ff1a00, 91px -123.6666666667px #00ffbf, -172px -318.6666666667px #00ff99, 60px -287.6666666667px #00e1ff, -195px -216.6666666667px #00ffe6, -38px 23.3333333333px #88ff00, -34px -192.6666666667px #b3ff00, -233px -336.6666666667px #ff6600, 173px -171.6666666667px #00b7ff, -61px 42.3333333333px #ff0051, -121px -288.6666666667px #002fff, -78px 26.3333333333px #00ff6f, -233px 47.3333333333px #00ff77, 142px -363.6666666667px #b300ff, -57px -158.6666666667px #0059ff, 54px -34.6666666667px #ee00ff, 148px -301.6666666667px #b700ff, 68px -221.6666666667px #ffae00, 9px -310.6666666667px #7300ff, -110px -61.6666666667px #ff9d00, 6px -308.6666666667px #ff00d0, -16px -124.6666666667px #a200ff, 101px -359.6666666667px #b3ff00, 62px -28.6666666667px #73ff00, 240px -373.6666666667px #62ff00, -143px -182.6666666667px #008cff, 243px -408.6666666667px #d5ff00, -4px 39.3333333333px #ff7b00, 226px -274.6666666667px #ff0048, -111px -45.6666666667px #c800ff, -12px -167.6666666667px #a600ff, -21px -214.6666666667px #88ff00, 218px -6.6666666667px #ff9d00, -69px -92.6666666667px #ff7300, 86px -265.6666666667px #00e1ff, 76px -186.6666666667px #95ff00, -145px -123.6666666667px #73ff00, 7px -338.6666666667px #00ff5e, -86px -141.6666666667px #003cff, -85px -256.6666666667px #00ff11, 116px 22.3333333333px #ff3700, 114px -77.6666666667px #cc00ff, 38px -315.6666666667px #0095ff, 148px -184.6666666667px #1500ff, -74px -80.6666666667px #cc00ff, -117px -277.6666666667px #7bff00, 223px -323.6666666667px #0033ff, 51px 62.3333333333px #00ffd9, 168px -77.6666666667px #fffb00, 169px -400.6666666667px #00ff2f, 184px -186.6666666667px #00ff88;
    }
  }
  @-moz-keyframes bang {
    to {
      box-shadow: 98px -25.6666666667px #ff1a00, 91px -123.6666666667px #00ffbf, -172px -318.6666666667px #00ff99, 60px -287.6666666667px #00e1ff, -195px -216.6666666667px #00ffe6, -38px 23.3333333333px #88ff00, -34px -192.6666666667px #b3ff00, -233px -336.6666666667px #ff6600, 173px -171.6666666667px #00b7ff, -61px 42.3333333333px #ff0051, -121px -288.6666666667px #002fff, -78px 26.3333333333px #00ff6f, -233px 47.3333333333px #00ff77, 142px -363.6666666667px #b300ff, -57px -158.6666666667px #0059ff, 54px -34.6666666667px #ee00ff, 148px -301.6666666667px #b700ff, 68px -221.6666666667px #ffae00, 9px -310.6666666667px #7300ff, -110px -61.6666666667px #ff9d00, 6px -308.6666666667px #ff00d0, -16px -124.6666666667px #a200ff, 101px -359.6666666667px #b3ff00, 62px -28.6666666667px #73ff00, 240px -373.6666666667px #62ff00, -143px -182.6666666667px #008cff, 243px -408.6666666667px #d5ff00, -4px 39.3333333333px #ff7b00, 226px -274.6666666667px #ff0048, -111px -45.6666666667px #c800ff, -12px -167.6666666667px #a600ff, -21px -214.6666666667px #88ff00, 218px -6.6666666667px #ff9d00, -69px -92.6666666667px #ff7300, 86px -265.6666666667px #00e1ff, 76px -186.6666666667px #95ff00, -145px -123.6666666667px #73ff00, 7px -338.6666666667px #00ff5e, -86px -141.6666666667px #003cff, -85px -256.6666666667px #00ff11, 116px 22.3333333333px #ff3700, 114px -77.6666666667px #cc00ff, 38px -315.6666666667px #0095ff, 148px -184.6666666667px #1500ff, -74px -80.6666666667px #cc00ff, -117px -277.6666666667px #7bff00, 223px -323.6666666667px #0033ff, 51px 62.3333333333px #00ffd9, 168px -77.6666666667px #fffb00, 169px -400.6666666667px #00ff2f, 184px -186.6666666667px #00ff88;
    }
  }
  @-o-keyframes bang {
    to {
      box-shadow: 98px -25.6666666667px #ff1a00, 91px -123.6666666667px #00ffbf, -172px -318.6666666667px #00ff99, 60px -287.6666666667px #00e1ff, -195px -216.6666666667px #00ffe6, -38px 23.3333333333px #88ff00, -34px -192.6666666667px #b3ff00, -233px -336.6666666667px #ff6600, 173px -171.6666666667px #00b7ff, -61px 42.3333333333px #ff0051, -121px -288.6666666667px #002fff, -78px 26.3333333333px #00ff6f, -233px 47.3333333333px #00ff77, 142px -363.6666666667px #b300ff, -57px -158.6666666667px #0059ff, 54px -34.6666666667px #ee00ff, 148px -301.6666666667px #b700ff, 68px -221.6666666667px #ffae00, 9px -310.6666666667px #7300ff, -110px -61.6666666667px #ff9d00, 6px -308.6666666667px #ff00d0, -16px -124.6666666667px #a200ff, 101px -359.6666666667px #b3ff00, 62px -28.6666666667px #73ff00, 240px -373.6666666667px #62ff00, -143px -182.6666666667px #008cff, 243px -408.6666666667px #d5ff00, -4px 39.3333333333px #ff7b00, 226px -274.6666666667px #ff0048, -111px -45.6666666667px #c800ff, -12px -167.6666666667px #a600ff, -21px -214.6666666667px #88ff00, 218px -6.6666666667px #ff9d00, -69px -92.6666666667px #ff7300, 86px -265.6666666667px #00e1ff, 76px -186.6666666667px #95ff00, -145px -123.6666666667px #73ff00, 7px -338.6666666667px #00ff5e, -86px -141.6666666667px #003cff, -85px -256.6666666667px #00ff11, 116px 22.3333333333px #ff3700, 114px -77.6666666667px #cc00ff, 38px -315.6666666667px #0095ff, 148px -184.6666666667px #1500ff, -74px -80.6666666667px #cc00ff, -117px -277.6666666667px #7bff00, 223px -323.6666666667px #0033ff, 51px 62.3333333333px #00ffd9, 168px -77.6666666667px #fffb00, 169px -400.6666666667px #00ff2f, 184px -186.6666666667px #00ff88;
    }
  }
  @-ms-keyframes bang {
    to {
      box-shadow: 98px -25.6666666667px #ff1a00, 91px -123.6666666667px #00ffbf, -172px -318.6666666667px #00ff99, 60px -287.6666666667px #00e1ff, -195px -216.6666666667px #00ffe6, -38px 23.3333333333px #88ff00, -34px -192.6666666667px #b3ff00, -233px -336.6666666667px #ff6600, 173px -171.6666666667px #00b7ff, -61px 42.3333333333px #ff0051, -121px -288.6666666667px #002fff, -78px 26.3333333333px #00ff6f, -233px 47.3333333333px #00ff77, 142px -363.6666666667px #b300ff, -57px -158.6666666667px #0059ff, 54px -34.6666666667px #ee00ff, 148px -301.6666666667px #b700ff, 68px -221.6666666667px #ffae00, 9px -310.6666666667px #7300ff, -110px -61.6666666667px #ff9d00, 6px -308.6666666667px #ff00d0, -16px -124.6666666667px #a200ff, 101px -359.6666666667px #b3ff00, 62px -28.6666666667px #73ff00, 240px -373.6666666667px #62ff00, -143px -182.6666666667px #008cff, 243px -408.6666666667px #d5ff00, -4px 39.3333333333px #ff7b00, 226px -274.6666666667px #ff0048, -111px -45.6666666667px #c800ff, -12px -167.6666666667px #a600ff, -21px -214.6666666667px #88ff00, 218px -6.6666666667px #ff9d00, -69px -92.6666666667px #ff7300, 86px -265.6666666667px #00e1ff, 76px -186.6666666667px #95ff00, -145px -123.6666666667px #73ff00, 7px -338.6666666667px #00ff5e, -86px -141.6666666667px #003cff, -85px -256.6666666667px #00ff11, 116px 22.3333333333px #ff3700, 114px -77.6666666667px #cc00ff, 38px -315.6666666667px #0095ff, 148px -184.6666666667px #1500ff, -74px -80.6666666667px #cc00ff, -117px -277.6666666667px #7bff00, 223px -323.6666666667px #0033ff, 51px 62.3333333333px #00ffd9, 168px -77.6666666667px #fffb00, 169px -400.6666666667px #00ff2f, 184px -186.6666666667px #00ff88;
    }
  }
  @keyframes bang {
    to {
      box-shadow: 98px -25.6666666667px #ff1a00, 91px -123.6666666667px #00ffbf, -172px -318.6666666667px #00ff99, 60px -287.6666666667px #00e1ff, -195px -216.6666666667px #00ffe6, -38px 23.3333333333px #88ff00, -34px -192.6666666667px #b3ff00, -233px -336.6666666667px #ff6600, 173px -171.6666666667px #00b7ff, -61px 42.3333333333px #ff0051, -121px -288.6666666667px #002fff, -78px 26.3333333333px #00ff6f, -233px 47.3333333333px #00ff77, 142px -363.6666666667px #b300ff, -57px -158.6666666667px #0059ff, 54px -34.6666666667px #ee00ff, 148px -301.6666666667px #b700ff, 68px -221.6666666667px #ffae00, 9px -310.6666666667px #7300ff, -110px -61.6666666667px #ff9d00, 6px -308.6666666667px #ff00d0, -16px -124.6666666667px #a200ff, 101px -359.6666666667px #b3ff00, 62px -28.6666666667px #73ff00, 240px -373.6666666667px #62ff00, -143px -182.6666666667px #008cff, 243px -408.6666666667px #d5ff00, -4px 39.3333333333px #ff7b00, 226px -274.6666666667px #ff0048, -111px -45.6666666667px #c800ff, -12px -167.6666666667px #a600ff, -21px -214.6666666667px #88ff00, 218px -6.6666666667px #ff9d00, -69px -92.6666666667px #ff7300, 86px -265.6666666667px #00e1ff, 76px -186.6666666667px #95ff00, -145px -123.6666666667px #73ff00, 7px -338.6666666667px #00ff5e, -86px -141.6666666667px #003cff, -85px -256.6666666667px #00ff11, 116px 22.3333333333px #ff3700, 114px -77.6666666667px #cc00ff, 38px -315.6666666667px #0095ff, 148px -184.6666666667px #1500ff, -74px -80.6666666667px #cc00ff, -117px -277.6666666667px #7bff00, 223px -323.6666666667px #0033ff, 51px 62.3333333333px #00ffd9, 168px -77.6666666667px #fffb00, 169px -400.6666666667px #00ff2f, 184px -186.6666666667px #00ff88;
    }
  }
  @-webkit-keyframes gravity {
    to {
      transform: translateY(200px);
      -moz-transform: translateY(200px);
      -webkit-transform: translateY(200px);
      -o-transform: translateY(200px);
      -ms-transform: translateY(200px);
      opacity: 0;
    }
  }
  @-moz-keyframes gravity {
    to {
      transform: translateY(200px);
      -moz-transform: translateY(200px);
      -webkit-transform: translateY(200px);
      -o-transform: translateY(200px);
      -ms-transform: translateY(200px);
      opacity: 0;
    }
  }
  @-o-keyframes gravity {
    to {
      transform: translateY(200px);
      -moz-transform: translateY(200px);
      -webkit-transform: translateY(200px);
      -o-transform: translateY(200px);
      -ms-transform: translateY(200px);
      opacity: 0;
    }
  }
  @-ms-keyframes gravity {
    to {
      transform: translateY(200px);
      -moz-transform: translateY(200px);
      -webkit-transform: translateY(200px);
      -o-transform: translateY(200px);
      -ms-transform: translateY(200px);
      opacity: 0;
    }
  }
  @keyframes gravity {
    to {
      transform: translateY(200px);
      -moz-transform: translateY(200px);
      -webkit-transform: translateY(200px);
      -o-transform: translateY(200px);
      -ms-transform: translateY(200px);
      opacity: 0;
    }
  }
  @-webkit-keyframes position {
    0%, 19.9% {
      margin-top: 10%;
      margin-left: 40%;
    }
    20%, 39.9% {
      margin-top: 40%;
      margin-left: 30%;
    }
    40%, 59.9% {
      margin-top: 20%;
      margin-left: 70%;
    }
    60%, 79.9% {
      margin-top: 30%;
      margin-left: 20%;
    }
    80%, 99.9% {
      margin-top: 30%;
      margin-left: 80%;
    }
  }
  @-moz-keyframes position {
    0%, 19.9% {
      margin-top: 10%;
      margin-left: 40%;
    }
    20%, 39.9% {
      margin-top: 40%;
      margin-left: 30%;
    }
    40%, 59.9% {
      margin-top: 20%;
      margin-left: 70%;
    }
    60%, 79.9% {
      margin-top: 30%;
      margin-left: 20%;
    }
    80%, 99.9% {
      margin-top: 30%;
      margin-left: 80%;
    }
  }
  @-o-keyframes position {
    0%, 19.9% {
      margin-top: 10%;
      margin-left: 40%;
    }
    20%, 39.9% {
      margin-top: 40%;
      margin-left: 30%;
    }
    40%, 59.9% {
      margin-top: 20%;
      margin-left: 70%;
    }
    60%, 79.9% {
      margin-top: 30%;
      margin-left: 20%;
    }
    80%, 99.9% {
      margin-top: 30%;
      margin-left: 80%;
    }
  }
  @-ms-keyframes position {
    0%, 19.9% {
      margin-top: 10%;
      margin-left: 40%;
    }
    20%, 39.9% {
      margin-top: 40%;
      margin-left: 30%;
    }
    40%, 59.9% {
      margin-top: 20%;
      margin-left: 70%;
    }
    60%, 79.9% {
      margin-top: 30%;
      margin-left: 20%;
    }
    80%, 99.9% {
      margin-top: 30%;
      margin-left: 80%;
    }
  }
  @keyframes position {
    0%, 19.9% {
      margin-top: 10%;
      margin-left: 40%;
    }
    20%, 39.9% {
      margin-top: 40%;
      margin-left: 30%;
    }
    40%, 59.9% {
      margin-top: 20%;
      margin-left: 70%;
    }
    60%, 79.9% {
      margin-top: 30%;
      margin-left: 20%;
    }
    80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
    }
}

/* ============== animated background ============== */

.background {
    background: linear-gradient(132deg, #FC415A, #591BC5, #212335);
    background-size: 400% 400%;
    animation: Gradient 15s ease infinite;
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    padding:0;
    margin:0px;
  }
  
  .cube {
    position: absolute;
    top: 80vh;
    left: 45vw;
    width: 10px;
    height: 10px;
    border: solid 1px #D7D4E4;
    transform-origin: top left;
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    animation: cube 10s ease-in forwards infinite;
  }
  
  .cube:nth-child(2n) {
    border-color: #FFF ;
  }
  
  .cube:nth-child(2) {
    animation-delay: 500ms;
    left: 25vw;
    top: 40vh;
  }
  
  .cube:nth-child(3) {
    animation-delay: 1s;
    left: 75vw;
    top: 50vh;
  }
  
  .cube:nth-child(4) {
    animation-delay: 2s;
    left: 90vw;
    top: 10vh;
  }
  
  .cube:nth-child(5) {
    animation-delay: 3s;
    left: 10vw;
    top: 85vh;
  }
  
  .cube:nth-child(6) {
    animation-delay: 4s;
    left: 50vw;
    top: 10vh;
  }

/* =============== Header ==================== */

.profile-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  background-color: transparent;
  position: absolute;
  width: 100%;
  top: 3%;
}

.nav-list, .dropdown {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-list {
  display: flex;
  gap: 20px; 
}

.nav-list li {
  display: inline-block;
}

.profile-nav-left .nav-list {
  margin-left: 50px; 
}

.profile-nav-right .nav-list {
  margin-right: 70px; 
}

.profile-nav-left #menu-btn {
  text-decoration: none;
  color: #591BC5;
  font-size: 20px;
  font-family: 'Liberty';
  font-weight: 500;
  padding: 20px;
  border: 1px solid #000;
  border-radius: 20px;
  background: #FFF;
  margin-left: 50px;
  z-index: 10;
  position: relative;
  transition: .3s;
  cursor: pointer;
}

.profile-nav-left #menu-btn:hover {
  background-color: #591BC5; 
  color: white; 
}

button, .dropdown a {
  text-decoration: none;
  color: #591BC5;
  font-size: 20px;
  font-family: 'Liberty';
  font-weight: 500;
  padding: 20px;
  border: 1px solid #000;
  border-radius: 20px;
  background: #FFF;
  z-index: 10;
  position: relative;
  transition: 0.3s;
  cursor: pointer;
}

button:hover, .dropdown a:hover {
  border-radius: 20px;
  background-color: #591BC5;
  color: white;
}

/* Dropdown styles */
.dropdown {
  position: absolute;
  top: 80px; 
  left: 50px; 
  background:-moz-repeating-radial-gradient(50% 50%, circle, #FFF, #FFF 5px, #591BC5 5px, #591BC5 10px);
  border: 1px solid #ddd;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  width: 200px;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.dropdown li {
  padding: 15px;
}

.dropdown li a {
  padding: 20px;
  text-decoration: none;
  color: #591BC5;
  font-size: 20px;
  font-family: 'Liberty';
  display: block;
  border-radius: 20px;
  text-align: center;
  transition: background 0.3s, color 0.3s;
}

.dropdown li a:hover {
  background: #591BC5;
  color: white;
}

.dropdown.hidden {
  display: none;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .nav-list {
      display: none; 
  }

  .profile-nav {
      flex-direction: column;
  }

  .dropdown {
      left: auto;
      right: 20px; 
  }
}

/** =============== Header ==================== */

header {
    position: absolute;
    top:0%;
    left: 0%;
    width:100%;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  .text {
    font-family: "Liberty";
    font-weight: 100;
    font-size: 3rem;
    letter-spacing: -0.25em;
    flex-flow: row;
    margin-top: 5px;
  }
  
  .text .letter {
    color: #d9fdff;
    text-shadow: 0 0 2rem #00f0ff;
    display: inline-block;
  }
  
  body .text .letter.letter-2 {
    transform: translate(-0.2rem, 1rem) rotate(10deg);
    -webkit-animation: flicker 2s ease-in-out infinite alternate;
    animation: flicker 2s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes flicker {
    0% {
      opacity: 1;
      transform: translate(-0.2rem, 1rem) rotate(10deg);
    }
    5% {
      opacity: 1;
      transform: translate(-0.2rem, 1rem) rotate(10deg);
    }
    5.5% {
      opacity: 0;
      transform: translate(-0.2rem, 1rem) rotate(10deg);
    }
    6% {
      opacity: 1;
      transform: translate(-0.2rem, 1rem) rotate(10deg);
    }
    6.5% {
      opacity: 1;
      transform: translate(-0.2rem, 1rem) rotate(10deg);
    }
    7% {
      opacity: 0;
      transform: translate(-0.2rem, 1rem) rotate(10deg);
    }
    8% {
      opacity: 1;
      transform: translate(-0.2rem, 1rem) rotate(10deg);
    }
    50% {
      opacity: 1;
      transform: translate(-0.2rem, 1rem) rotate(13deg);
    }
    100% {
      opacity: 1;
      transform: translate(-0.2rem, 1rem) rotate(10deg);
    }
  }
  
  @keyframes flicker {
    0% {
      opacity: 1;
      transform: translate(-0.2rem, 1rem) rotate(10deg);
    }
    5% {
      opacity: 1;
      transform: translate(-0.2rem, 1rem) rotate(10deg);
    }
    5.5% {
      opacity: 0;
      transform: translate(-0.2rem, 1rem) rotate(10deg);
    }
    6% {
      opacity: 1;
      transform: translate(-0.2rem, 1rem) rotate(10deg);
    }
    6.5% {
      opacity: 1;
      transform: translate(-0.2rem, 1rem) rotate(10deg);
    }
    7% {
      opacity: 0;
      transform: translate(-0.2rem, 1rem) rotate(10deg);
    }
    8% {
      opacity: 1;
      transform: translate(-0.2rem, 1rem) rotate(10deg);
    }
    50% {
      opacity: 1;
      transform: translate(-0.2rem, 1rem) rotate(13deg);
    }
    100% {
      opacity: 1;
      transform: translate(-0.2rem, 1rem) rotate(10deg);
    }
  }

/* =============== Profile Container ==================== */

.profile-container {
    margin-top: 10%;
    /* text-align: center; */
    color:  #EFEEF5;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1; /* Allows the container to grow and fill available space */
    overflow: hidden; 
  }

.stats-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.stats-table th, .stats-table td {
    border: 1px solid white;
    padding: 10px 20px;
    text-align: center;
    width: 400px;
    font-family: 'Liberty';
    font-size: 18px;
    font-weight: 500;
}

.stats-table th {
    background-color: #591BC5;
}

footer {
    position: absolute;
    bottom: 10px;
    text-align: center;
    width: 100%;
    color: #EFEEF5;
    margin-top: auto;
  }

/* ============= Animate Background ==============*/
@keyframes Gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  @keyframes cube {
    from {
      transform: scale(0) rotate(0deg) translate(-50%, -50%);
      opacity: 1;
    }
    to {
      transform: scale(20) rotate(960deg) translate(-50%, -50%);
      opacity: 0;
    }
  }
