body {
  font-family: 'Josefin Sans', sans-serif;
  box-sizing: border-box;
}
.container-fluid{
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  background: #FFF;
}

  /* ============== animated background ============== */

.background {
  background: linear-gradient(132deg, #FC415A, #591BC5, #212335);
  background-size: 400% 400%;
  animation: Gradient 15s ease infinite;
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  padding:0;
  margin:0px;
}

.cube {
  position: absolute;
  top: 80vh;
  left: 45vw;
  width: 10px;
  height: 10px;
  border: solid 1px #D7D4E4;
  transform-origin: top left;
  transform: scale(0) rotate(0deg) translate(-50%, -50%);
  animation: cube 10s ease-in forwards infinite;
}

.cube:nth-child(2n) {
  border-color: #FFF ;
}

.cube:nth-child(2) {
  animation-delay: 500ms;
  left: 25vw;
  top: 40vh;
}

.cube:nth-child(3) {
  animation-delay: 1s;
  left: 75vw;
  top: 50vh;
}

.cube:nth-child(4) {
  animation-delay: 2s;
  left: 90vw;
  top: 10vh;
}

.cube:nth-child(5) {
  animation-delay: 3s;
  left: 10vw;
  top: 85vh;
}

.cube:nth-child(6) {
  animation-delay: 4s;
  left: 50vw;
  top: 10vh;
}

/* =================== Header ================= */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  background-color: transparent;
  position: absolute;
  width: 100%;
  top: 4%;
}

.navbar-left .logo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-left: 20px;
}

.navbar-right #return-button {
  text-decoration: none;
  color: #591BC5;
  font-size: 20px;
  padding: 10px 20px;
  border: 1px solid #EFEEF5;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  margin-right: 150px;
  z-index: 10;
  position: relative;
}

.navbar-right #return-button:hover {
  border-radius: 0;
}

header {
  position: absolute;
  top:0%;
  left: 0%;
  width:100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

h1 {
  font-size: 3em;
  color: white;
  text-align: center;
  margin-top: 10%;
}

/* ================= Sign Up Container =================*/
.signup-container {
  margin-top:17%;
  text-align: center;
  color:  #EFEEF5;
}

.signup-form {
  display: flex;
  flex-direction: column;
  width: 450px;
  margin: 50px auto;
}

.signup-form input {
  font-size: large;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 20px;
  height: 50px;
  border: #EFEEF5 1px solid;
}

.signup-container #signup-button {
  width: 140px;
  margin:20px 150px;
  color: #591BC5;
  font-size: 22px;
  border:1px solid #EFEEF5;
  font-weight: 500;
  background: #EFEEF5;
  border-radius: 20px;
  padding: 10px;
  cursor:pointer;
  transition: .3s;
}

.signup-container #signup-button:hover {
  border-radius: 0;
}

.signup-container a {
  color: #EFEEF5;
  text-decoration: underline;
  font-size: 20px;
  margin-top: 20px;
}

.signup-container a:hover {
  color: #c6d8b8;
}

footer {
position: absolute;
bottom: 10px;
text-align: center;
width: 100%;
color: white;
}

  /* ================== Animate Background ==================*/
@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes cube {
  from {
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    opacity: 1;
  }
  to {
    transform: scale(20) rotate(960deg) translate(-50%, -50%);
    opacity: 0;
  }
}